body {
    color: #000;
}

textarea {
    min-height: 400px;
}

p {
    margin: 0;
    padding: 0;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #c3c3c3;
}

.email:hover {
    border: 1px solid #c3c3c3;
    cursor: pointer;
}

.left-email {
    display: flex;
    gap: 1.5rem;
    font-size: 16px;
}

.top {
    margin-bottom: 0.5rem;
}

#reply {
    margin-right: 0.3rem;
}